.header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ececec;
  background-color: $primary-white-color;
}

.header > .container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding: 10px 15px;
  }
  @media screen and (max-width: 767px) {
    position: relative;
  }
}

@import "../components/header/logo";
@import "../components/header/nav";
@import "../components/header/contacts";
