@media screen and (max-width: 1199px) {
  .services-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services-item {
    position: relative;
    // display: flex;

    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    display: inline-block;
    border: 0;

    text-decoration: none;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-white-color;

    &:last-child {
      margin-right: 0;
    }
    p {
      position: absolute;
      width: 100%;

      padding-top: 27px;
      padding-bottom: 27px;
      background-color: $background-services-color;
      bottom: 0;
    }
  }
}
